{% extends "pMentHa/base.html" %}
{% load static %}
{% block body %}
    <div class="grid-container">
        <nav style="overflow:auto">
            <div class="topmenu">
                <a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fas fa-head-side-virus"></i> Projeto MentHa</button>
                    <div class="dropdown-content">
                        {% if user.is_authenticated %}
                            <a href="{% url 'patientoverview' %}">ProtocoloMentHa</a>
                        {% else %}
                            <a href="{% url 'login_' %}">ProtocoloMentHa</a>
                        {% endif %}
                        <a href="{% url 'mentha-care' %}"> MentHaCare</a>
                        <a href="">MentHaCOG</a>
                    </div>
                </div>
                <a href=""><i class="fa fa-fw fa-envelope"></i> Contactos</a>
                <div class="top-right">
                    <a class="active" href="{% url 'login_' %}"><i class="fas fa-fingerprint"></i> Login</a>
                </div>
            </div>
            <figure>
                <img class="img" src="{% static "pMentHa/images/mentha.png" %}" width="80%" alt="velhotes"/>
            </figure>
            <hr class="line">
            {% if message %}
                <div style="text-align: center;">
            <span>
                {{ message }}
            </span>
                </div>
            {% endif %}
        </nav>
        <main>
            <div class="wrapper">
                <div id="formContent">
                    <h4 class="activeH2"> Precisa de Ajuda? </h4>
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <label class="contact" for="fname">E-mail:</label>
                        <br>
                        <input class="login_text" type="email" id="email" name="email" placeholder="example@example.pt">
                        <label class="contact" for="fname">Nome:</label>
                        <br>
                        <input class="login_text" type="name" id="name" name="name" placeholder="João Maria">
                        <label class="contact" for="fname">Contacto:</label>
                        <br>
                        <input class="login_text" type="number" id="contact" name="contact" placeholder="+351 9XX XXX XXX ">
                        <input class="but" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
